*{
  padding: 0;
  margin: 0;
 }
.recipe-home {
  background-image: url('./food.webp');
  height: 600px;
  width: 99.8%;
  background-size: cover;  
    /* image perfect fit hogi */
  position: relative;
  z-index: 2;
  

  
}
.Content{
  height: 97.2%;
  width: 98.7%;
  background-color: rgba(0, 0, 0, 0.39);
 height: 97.2%;
  width: 97.7%;
  background-color: rgba(0, 0, 0, 0.575);
color: rgb(255, 183, 0);
padding: 20px;



padding-bottom: 0px;
}
.logo{
  font-family: 'Sansita Swashed', cursive;
font-size:30px;

}
.search-bar{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
 
}
.center{
    display: flex;
    align-items: center;
    height: 80%;
    width: 100%;
    justify-content: center;
}
.Search-heading{
    font-size: 40px;
    color: aliceblue;
    margin-bottom: 20px;

}

.recipe-search {
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  
}
input{
height: 100%;
width: 95%;
font-size: 20px;
border: none;
outline: none;
}
p{
    color: white;
    background-color: rgba(32, 32, 32, 0.425);
    padding: 3px;
      font-family: 'Sansita Swashed', cursive;

}
